matplotlib==2.2.3
numpy==1.15.1
pandas==0.23.4
pickleshare==0.7.5
Pillow==5.3.0
PyPDF2==1.26.0
scikit-image==0.14.0
scikit-learn==0.20.1
scipy==1.1.0
sklearn==0.0
textblob==0.15.2
tokenizer==1.0.8
tweepy==3.7.0
Twisted==18.9.0
unicodecsv==0.14.1
urllib3==1.23
wordcloud==1.5.0
nltk==3.4
beautifulsoup4==4.6.3
cloudpickle==0.6.1
future==0.17.1
imageio==2.4.1
imagesize==1.1.0
importlib-metadata==0.6

ipaddress==1.0.22

ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
matplotlib==2.2.3
more-itertools==4.3.0
nbconvert==5.4.0
nbformat==4.4.0
nltk==3.4
numpy==1.15.1

pandas==0.23.4
pandocfilters==1.4.2
PyPDF2==1.26.0

scikit-image==0.14.0
scikit-learn==0.20.1
scipy==1.1.0
six==1.11.0
sklearn==0.0
snowballstemmer==1.2.1
sortedcollections==1.0.1
sortedcontainers==2.0.5

tables==3.4.4
textblob==0.15.2
tokenizer==1.0.8
tweepy==3.7.0
Twisted==18.9.0

unicodecsv==0.14.1

wordcloud==1.5.0
