matplotlib==2.2.3
numpy==1.15.1
pandas==0.23.4
pickleshare==0.7.5
Pillow==5.3.0
PyPDF2==1.26.0
scikit-image==0.14.0
scikit-learn==0.20.1
scipy==1.1.0
sklearn==0.0
textblob==0.15.2
tokenizer==1.0.8
tweepy==3.7.0
Twisted==18.9.0
unicodecsv==0.14.1
urllib3==1.23
wordcloud==1.5.0
nltk==3.4













beautifulsoup4==4.6.3












cloudpickle==0.6.1










datashape==0.5.4
decorator==4.3.0







filelock==3.0.10
Flask==1.0.2
Flask-Cors==3.0.7
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.17.1
futures==3.2.0










imageio==2.4.1
imagesize==1.1.0
importlib-metadata==0.6

ipaddress==1.0.22

ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4




jsonschema==2.6.0


libarchive-c==2.8





matplotlib==2.2.3


mkl-fft==1.0.4
mkl-random==1.0.1
more-itertools==4.3.0
mpmath==1.0.0
msgpack==0.5.6

nbconvert==5.4.0
nbformat==4.4.0

nltk==3.4
nose==1.3.7

numba==0.39.0+0.g4e49566.dirty

numpy==1.15.1
numpydoc==0.8.0
oauthlib==2.1.0
odo==0.5.1
olefile==0.46


pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1

path.py==11.5.0
pathlib2==2.3.2



pickleshare==0.7.5
Pillow==5.3.0





psutil==5.4.8
ptyprocess==0.6.0




pyparsing==2.3.0
PyPDF2==1.26.0

pytest==4.0.0
python-dateutil==2.7.5

PyWavelets==1.0.0
PyYAML==3.13
pyzmq==17.1.2
QtAwesome==0.5.3
qtconsole==4.4.3
QtPy==1.5.2
requests==2.20.1
requests-oauthlib==1.0.0

ruamel-yaml==0.15.46
scandir==1.9.0
scikit-image==0.14.0
scikit-learn==0.20.1
scipy==1.1.0
six==1.11.0
sklearn==0.0
snowballstemmer==1.2.1
sortedcollections==1.0.1
sortedcontainers==2.0.5



sympy==1.3
tables==3.4.4
textblob==0.15.2
tokenizer==1.0.8
tweepy==3.7.0
Twisted==18.9.0
typing==3.6.6
unicodecsv==0.14.1
wcwidth==0.1.7
wordcloud==1.5.0
